 <% albums.each do |album| %>

  <div class="col-3 px-2">
    <div class="card">
      <% if album.album_photo_images.any? && album.album_photo_images.first.image.attached? %>
        <%= link_to admin_album_path(album.id) do %>
          <%= image_tag album.album_photo_images.first.image, size: '200x100' %><br>
        <% end %>
      <% end %>
      <div class="card-body">
        <div class="card-text">
          <%= album.album_photo_images.count %>件
        </div>
        <h5 class="card-title">
          Album Title:
          <%= link_to admin_album_path(album.id) do %>
            <%= album.album_title %>
          <% end %>
        </h5>
        <p class="card-text">
          Album caption:<%= album.album_caption %><br>
          <%= image_tag album.user.get_profile_image(30,30) %>
          <%= album.user.name %><br>
          <%= link_to "delete", admin_album_path(album.id), method: :delete %><br>
          <%= album.created_at.strftime('%Y/%m/%d %H:%M') %><br>
      </div>
    </div>
</div>
<% end %>