<div class="container">
  <div class="row">
    <div class="col-4">
      <p>
        Title:<%= @album.album_title %><br>
        caption:<%= @album.album_caption %><br>
        <%= image_tag @album.user.get_profile_image(30,30) %>
        <%= @album.user.name %><br>
        <%= @album.created_at.strftime('%Y/%m/%d %H:%M') %><br>
      </p>
      <%= link_to "delete", admin_album_path(@album.id), method: :delete %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-4">-->
<!--      <p class="text-right">-->
<!--        <%# if @album.user == current_user %>-->
<!--          <%#= link_to "edit", edit_album_path(@album.id) %>-->
<!--          <%#= link_to "delete", album_path(@album.id), method: :delete %>-->
<!--        <%# end %>-->
<!--        <br>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row no-gutters">
     <%= render 'admin/album_photo_images/index', album_photo_images: @album.album_photo_images %>
  </div>
  <%= link_to "Album All", admin_albums_path %><br>
  <%= link_to "Userのアルバム一覧へ", useralbums_admin_user_path(@user) %>

</div>
