
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="box">
        <% if @album.album_title.present? %>
          <h3><%= @album.album_title %></h3>
        <% else%>
          <div class="blank"></div>
        <% end %>
      </div>
    </div>
    <div class="col-2 text-right">
      <div class="edit-delete">
        <%= link_to admin_album_path(@album.id), method: :delete, class: "link" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="box">
        <div class="cap">
          <% if @album.album_caption.present? %>
            　<%= @album.album_caption %>
          <% else%>
            <div class="blank"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-4">
      <%= image_tag @album.user.get_profile_image(20,20), class: "rounded-circle" %>
      <%= @album.user.name %>
    </div>
    <div class="col-4 text-right">
      <%= @album.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <%= render 'admin/album_photo_images/index', album_photo_images: @album.album_photo_images %>
  </div>
</div>
<div class="container">
  <div class="box">
    <%= link_to "ALBUM ALLへ戻る", admin_albums_path, class: "btn btn-outline-lightgreen" %>
  </div>
</div>





<%#= link_to "#{@user.name}のalbum一覧へ", useralbums_admin_user_path(@user) %>



