<div class="container">
  <% if @album_photo_image.image.attached? %>
    <%= image_tag @album_photo_image.get_image(200, 100), size: '200x100' %>
  <% end %>
  <br>

  <div id="favorite_btn_<%= @album_photo_image.id %>">
    <%= render 'public/album_photo_image_favorites/album_photo_image_favorite', album_photo_image: @album_photo_image %>
  </div>

  <p>Title:<%= @album_photo_image.album_photo_title %></p>
  <p>caption:<%= @album_photo_image.album_photo_caption %></p>
  <p>name:<%= @album_photo_image.album.user.name %></p>
  <%= @album_photo_image.album.created_at.strftime('%Y/%m/%d %H:%M') %>

  <div class="text-right">
    <% if @album_photo_image.album.user == current_user %>
      <%= link_to edit_album_photo_image_path(@album_photo_image.id) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to album_photo_image_path(@album_photo_image.id), method: :delete do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
   <% end %>
  </div>

   <%= link_to "back",album_image_path(@album_image.id) %>
</div>