
  <%= image_tag @album_photo_image.get_image(200, 100), size: '200x100' %>

  <p>Title:<%= @album_photo_image.album_photo_title %></p>
  <p>caption:<%= @album_photo_image.album_photo_caption %></p>
  <p>name:<%= @album_photo_image.album.user.name %></p>
  <%= @album_photo_image.album.created_at.strftime('%Y/%m/%d %H:%M') %>

  <% if @album_photo_image.album.user == current_user %>
    <%= link_to "edit", edit_album_photo_image_path(@album_photo_image.id) %>
    <%= link_to "delete", album_photo_image_path(@album_photo_image.id), method: :delete %>
    <!--< %= link_to "戻る", edit_album_image_path(@album_image.id) %>-->
 <% end %>