

<div class="container">
  <h2>ALBUM EDIT</h2>
</div>


<div class="container">
  <%= form_with model: @album, url: album_path(@album.id), method: :patch do |f| %>
    <%= f.file_field :images, multiple: true %><br><br>
    <%= f.label :album_title %>
    <%= f.text_field :album_title %><br>
    <%= f.label :album_caption %>
    <%= f.text_area :album_caption %>
    <div class="line"></div>
    <%= f.submit "UPDATE", class: "btn btn-success" %>
　<% end %>
</div>