<h1>ALBUM ALL</h1>


  <% @albums.each do |album| %>
    <% if album.album_photo_images.any? && album.album_photo_images.first.image.attached? %>
      <%= image_tag album.album_photo_images.first.image, size: '200x100' %><br>
    <% end %>

    <p>Title:<%= album.album_title %></p>
    <p>caption:<%= album.album_caption %></p>
    <p>name:<%= album.user.name %></p>

    <%= link_to "編集", edit_album_path(album.id) %><br>
    <%= album.created_at.strftime('%Y/%m/%d %H:%M') %><br>
  <% end %>

