

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6 border rounded-pill p-3">
        <div class="album_new">
          <h2 class="text-center">ALBUM</h2><br>
            <%= form_with url: albums_path, local: true do |f| %>
              <%= f.fields_for :album_photo_images do |child|%>
                <%= child.file_field :image, multiple: true %><br><br>
              <% end %>
              <h4>ALBUM title　  　<%= f.text_field :album_title %></h4><br>
              <h4>ALBUM caption　<%= f.text_area :album_caption %></h4>
              <div class="line"></div>


                <%= f.label :user_id %>
                <%= f.collection_check_boxes :user_ids, @users, :id, :name %>


              <h2 class="text-center">
                <%= f.submit 'UPLOAD', class: "btn btn-success" %>
              </h2>

            <% end %>
        </div>
      </div>
    <div class="col-md-3"></div>
</div>
