
  <% if @album_image.images.attached? %>
    <%= image_tag @album_image.get_images, size: '600x500' %>
  <% end %>


  <p>Title:<%= @album_image.album_title %></p>
  <p>caption:<%= @album_image.album_caption %></p>
  <p>name:<%= @album_image.user.name %></p>
  <%= @album_image.created_at.strftime('%Y/%m/%d %H:%M') %>

  <% if @album_image.user == current_user %>
    <%= link_to "edit", edit_album_image_path(@album_image.id) %>
    <%= link_to "delete", album_image_path(@album_image.id), method: :delete %>
  <% end %>