<div class="container">
  <% if @album_photo_image.image.attached? %>
    <%= image_tag @album_photo_image.get_image(500, 500), class: 'img-fluid' %>
  <% end %>
  <br>

  <p>Title:<%= @album_photo_image.album_photo_title %></p>
  <p>caption:<%= @album_photo_image.album_photo_caption %></p>
  <p>
    <%= image_tag @album_photo_image.album.user.get_profile_image(30,30) %>
    <%= @album_photo_image.album.user.name %>
  </p>
  <%= @album_photo_image.album.created_at.strftime('%Y/%m/%d %H:%M') %>



  <div class="container">
    <p>
      <i class="fa-solid fa-comment"></i>：<%= @album_photo_image.album_photo_comments.count %>
    </p>
      <% @album_photo_image.album_photo_comments.each do |album_photo_comment| %>
        <p>
          <%= image_tag album_photo_comment.user.get_profile_image(30,30) %>
          <%= album_photo_comment.user.name %>
        </p>
        <p><%= album_photo_comment.comment %></p>
        <p>[<%= album_photo_comment.created_at.strftime('%Y/%m/%d') %>]</p>

          <%= link_to "削除", admin_album_photo_image_album_photo_comment_path(album_photo_comment.album_photo_image, album_photo_comment), method: :delete %>
      <% end %>


   <%= link_to "back", admin_album_path(@album.id) %>
</div>