<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <div class="box">
        <h2 class="text-left">パスワード再設定</h2>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-11">
      <div class="box">
        <br>
        <%= render "publics/shared/error_messages", resource: resource %>
      </div>
    </div>
  </div>
  <br>
  <%= f.hidden_field :reset_password_token %>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-3">
      <div class="box">
        <div class="field">
          <%= f.label :password, "新しいパスワード" %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="box">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上で設定してください)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-3">
      <div class="box">
        <div class="field">
          <%= f.label :password_confirmation, "新しいパスワードの確認" %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="box">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-3">
      <div class="box">
        <div class="field">
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <%= f.submit "パスワード変更", class: "btn btn-outline-lightgreen w-25" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= render "publics/shared/links" %>