<% photo_images.each do |photo_image| %>
  <div class="col-6 col-sm-3 px-2">
    <div class="photo-all">
      <%= link_to photo_image_path(photo_image.id) do %>
        <%= image_tag photo_image.get_image(500, 500), class: 'album-image-cover' %>
      <% end %>

      <div class="flex">
        <div class="favo box">
          <div id="favorite_btn_<%= photo_image.id %>">
            <%= render partial: 'public/favorites/favorite', locals: {photo_image: photo_image} %>
          </div>
        </div>
        <div class="comments">
          <i class="fa-solid fa-comment" style="color: #60a39b;"></i>
          <%= link_to "#{photo_image.photo_comments.count} ", photo_image_path(photo_image.id), :style=>"color: #60a39b;" %>
        </div>
        <div class="edit-delete">
          <% if photo_image.user == current_user %>
            <%= link_to edit_photo_image_path(photo_image.id), class: "link" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to photo_image_path(photo_image.id), method: :delete, class: "link" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="box">
        <%= photo_image.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <%= paginate @photo_images %>
</div>

