<% photo_images.each do |photo_image| %>
<div class="col-4 px-2">
  <%= link_to photo_image_path(photo_image.id) do %>
    <%= image_tag photo_image.get_image(200, 100), size: '200x100' %>
  <% end %>
  <br>
  <div class="text-right">
    <% if photo_image.user == current_user %>
      <%= link_to edit_photo_image_path(photo_image.id) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to photo_image_path(photo_image.id), method: :delete do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= photo_image.created_at.strftime('%Y/%m/%d %H:%M') %><br>

  <p>
    <i class="fa-solid fa-comment"></i>
    <%= link_to "#{photo_image.photo_comments.count} ", photo_image_path(photo_image.id) %>
  </p>
</div>
<% end %>
<!--< %= link_to "戻る", edit_album_path(@album.id) %>-->