
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6 border rounded-pill p-3">
        <div class="photo_new">
          <h2 class="text-center">PHOTO</h2><br>
          <%= form_with model: @photo_image do |f| %>

            <%= f.file_field :image, accept: "image/*" %><br><br>
            <h4>title　  　<%= f.text_field :photo_title %></h4><br>
            <h4>caption　<%= f.text_area :photo_caption %></h4>
            <div class="line"></div>
            <h2 class="text-center">
              <%= f.submit 'UPLOAD', class: "btn btn-success" %>
            </h2>

          <% end %>
        </div>
      </div>
    <div class="col-md-3"></div>
</div>

