  <% if @photo_image.image.attached? %>
    <%= image_tag @photo_image.image, size: '400x300' %>
  <% end %>


  <p>Title:<%= @photo_image.photo_title %></p>
  <p>caption:<%= @photo_image.photo_caption %></p>
  <p>name:<%= @photo_image.user.name %></p>
  <p><%= @photo_image.created_at.strftime('%Y/%m/%d') %></p>

  <% if @photo_image.user == current_user %>
    <%= link_to "削除", photo_image_path(@photo_image.id), method: :delete %>
  <% end %>
  <!--< % if @photo_image.favorited_by?(current_user) %>-->
  <!--  <p>-->
  <!--    < %= link_to photo_image_favorites_path(@photo_image), method: :delete do %>-->
  <!--      ♥< %= @photo_image.favorites.count %> いいね-->
  <!--    < % end %>-->
  <!--  </p>-->
  <!--  < % else %>-->
  <!--  <p>-->
  <!--    < %= link_to photo_image_favorites_path(@photo_image), method: :post do %>-->
  <!--      ♡< %= @photo_image.favorites.count %> いいね-->
  <!--    < % end %>-->
  <!--  </p>-->
  <!--< % end %>-->


<!--<div>-->
<!--  <p>コメント件数:< %= @photo_image.post_comments.count %></p>-->
<!--  < % @photo_image.post_comments.each do |post_comment| %>-->
<!--   <p>< %= image_tag post_comment.user.get_profile_image(100,100) %></p>-->
<!--   < %= post_comment.user.name %>-->
<!--   < %= post_comment.created_at.strftime('%Y/%m/%d') %>< %= post_comment.comment %>-->
<!--   < % if post_comment.user == current_user %>-->
<!--    < %= link_to "削除", photo_image_post_comment_path(post_comment.photo_image, post_comment), method: :delete %>-->
<!--   < % end %>-->

<!--  < % end %>-->
<!--</div>-->

<!--<div>-->
<!--  < %= form_with model: [@photo_image, @post_comment] do |f| %>-->
<!--   < %= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>-->
<!--   < %= f.submit "送信する" %>-->
<!--  < % end %>-->
<!--</div>-->