<div class="container">
  <% if @photo_image.image.attached? %>
    <%= image_tag @photo_image.get_image(200, 100), size: '200x100' %>
  <% end %>
  <br>
  
  
  <div class="flex">
    <div class="favo">
      <div id="favorite_btn_<%= @photo_image.id %>">
        <%= render partial: 'public/favorites/favorite', locals: {photo_image: @photo_image} %>
      </div>
    </div>

    <div class="edit-delete">
      <% if @photo_image.user == current_user %>
        <%= link_to edit_photo_image_path(@photo_image.id) do %>
          <i class="fa-solid fa-pen-to-square size"></i>
        <% end %>
        <%= link_to photo_image_path(@photo_image.id), method: :delete do %>
          <i class="fa-solid fa-trash-can size"></i>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>


  <p>Title:<%= @photo_image.photo_title %></p>
  <p>caption:<%= @photo_image.photo_caption %></p>
  <p>
    <%= image_tag @photo_image.user.get_profile_image(30,30) %>
    <%= @photo_image.user.name %>
  </p>
  <%= @photo_image.created_at.strftime('%Y/%m/%d %H:%M') %>


  <div class="container">
    <p>
      <i class="fa-solid fa-comment"></i>
      <%= @photo_image.photo_comments.count %>
    </p>
      <% @photo_image.photo_comments.each do |photo_comment| %>
        <p>name:<%= photo_comment.user.name %></p>
        <p><%= photo_comment.comment %></p>
        <p>[<%= photo_comment.created_at.strftime('%Y/%m/%d') %>]</p>


        <div id="good_btn_<%= photo_comment.id %>">
          <%= render partial: 'public/goods/good', locals: {photo_image: @photo_image, photo_comment: photo_comment} %>
        </div>


        <% if photo_comment.user == current_user %>
          <%= link_to "削除", photo_image_photo_comment_path(photo_comment.photo_image, photo_comment), method: :delete %>
        <% end %>
      <% end %>

      <div>
        <%= form_with model: [@photo_image, @new_photo_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>


  </div>


  <%= link_to "back",photo_images_path %>



</div>



</div>
