  <h4>
    Photo All<span><%= @photo_images.count %>件</span>
  </h4>

  <% @photo_images.each do |photo_image| %>
    <%= link_to photo_image_path(photo_image.id) do %>
      <%= image_tag photo_image.get_image, size: '200x100' %>
    <% end %>
    <p>Title:<%= photo_image.photo_title %></p>
    <p>caption:<%= photo_image.photo_caption %></p>
    <p>name:<%= photo_image.user.name %></p>
    <%= photo_image.created_at.strftime('%Y/%m/%d %H:%M') %>

    <div class="text-right">
      <% if photo_image.user == current_user %>
        <%= link_to edit_photo_image_path(photo_image.id) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to photo_image_path(photo_image.id), method: :delete do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </div>


<% end %>
<%= link_to "back", user_path(@photo_image.user.id) %>