<div class="container">
  <h3>User All</h3>
</div>


<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-1">
      <div class="box">
        <i class="fa-brands fa-ideal"></i> id
      </div>
    </div>
    <div class="col-3">
      <div class="box">
        <i class="fa-solid fa-user"></i> name
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <i class="fa-solid fa-cake-candles"></i> email
      </div>
    </div>
    <div class="col-3">
      <div class="box">
        <p>会員ステータス</p>
      </div>
    </div>
  </div>



  <% @users.each do |user| %>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-1">
      <div class="box">
        　<%= user.id %>
      </div>
    </div>
    <div class="col-3">
      <div class="box">
        　<%= image_tag user.get_profile_image(20,20), class: "rounded-circle" %>
        <%= link_to admin_user_path(user.id) , class: "link" do %>
          <%= user.name %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        　<%= user.email %>
      </div>
    </div>
    <div class="col-3">
      <div class="box">
        <% if user.is_active %>
          <p class="font-weight-bold text-success">　有効</p>
        <% else %>
          <p>　退会</p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
