
<div class="container">
  <h4>
    <strong>Information／<%= image_tag @user.get_profile_image(30,30) %><%= @user.name %></strong>
  </h4>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-user"></i>.name
    </div>
    <div class="col-3"><%= @user.name %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-cake-candles"></i>.birthday
    </div>
    <div class="col-3"><%= @user.birthdate %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-circle-info"></i>.introduction
    </div>
    <div class="col-3"><%= @user.introduction %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-envelope"></i>.email
    </div>
    <div class="col-3"><%= @user.email %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
       <h4>PHOTO</h4>
    </div>
    <div class="col-3">
      <%= link_to userphotos_admin_user_path(@user.id) do %>
        <%= @user.photo_images.count %>
      <% end %>
      件
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-3">
       <h4>ALBUM</h4>
    </div>
    <div class="col-3">
      <%= link_to useralbums_admin_user_path(@user.id) do %>
        <%= @user.albums.count %>
      <% end %>
      件
    </div>
  </div>
  <br>

  <br>
  <div class="row">
    <div class="col-3">会員ステータス</div>
    <div class="col-3">
      <% if @user.is_active %>
        <p class="font-weight-bold text-success">有効</p>
      <% else %>
        <p>退会</p>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3"><%= link_to "edit", edit_admin_user_path(@user), class: "btn btn-success" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3"><%= link_to "back", admin_users_path(@user), class: "btn btn-success" %></div>
  </div>
</div>
<br>
<br>

