<div class="container">
  <div class="text-center">
    <p>
      Welcome! recollections / 回想<br>
      一人ひとりの想い出を記録・共有<br>
    </p>
  </div>
</div>

<h2>LOGIN</h2>

<%= form_with model: resource, as: resource_name, url: session_path(resource_name) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="password-forgot">
    👉パスワードを忘れた方はこちら
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"ログイン情報を保存する"%>
    </div>
  <% end %>

  <div class="actions border-bottom border-secondary">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
  <br>



<% end %>

<%= render "public/shared/links" %>
