<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <h3>MY FAVORITES<span class="count-font">　<<%= @photo_images_count %>photos></span></h3>
    <% else %>
      <h3><%= @user.name %>'s FAVORITES<span class="count-font">　<<%= @photo_images_count %>photos></span></h3>
    <% end %>
  </div>

  <div class="row">
    <%= render 'public/photo_images/favorite', favorited_photo_images: @favorited_photo_images %>
  </div>

  <div class="row">
    <%= render 'public/albums/album_favorite', favorited_albums: @favorited_albums %>
  </div>

  <!--<div class="row">-->
  <!--  <%#= render 'public/album_photo_images/album_photo_image_favorite', favorited_album_photo_images: @favorited_album_photo_images %>-->
  <!--</div>-->

  <div class="rouw">
    <% if @user == current_user %>
      <%= link_to "My pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
    <% else %>
      <%= link_to "#{@user.name}'s pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
    <% end %>
  </div>
</div>