<div class="container">
  <div class="row">
    <div class="box"><br>
      <% if @user == current_user %>
        <h3>MY FAVORITES</h3>
      <% else %>
        <h3><%= @user.name %>'s FAVORITES</h3>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <%= render 'public/album_photo_images/album_photo_image_favorite', favorited_album_photo_images: @favorited_album_photo_images %>
  </div>
  <br>
  <div class="row">
    <%= link_to "favoritesへ戻る", favorites_user_path(@user), class: "btn btn-outline-lightgreen" %>
  </div>
  <div class="row">
    <% if @user == current_user %>
      <%= link_to "My pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
    <% else %>
      <%= link_to "#{@user.name}'s pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
    <% end %>
  </div>
  <div class="row">
    <%= paginate @favorited_album_photo_images %>
  </div>
</div>