<div class="container">
  <br>
  <h3 class="box">User All</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 col-sm-3">
      <div class="box">
        <i class="fa-solid fa-user"></i> name
      </div>
    </div>
    <div class="col-6 col-sm-3">
      <div class="box">
        <i class="fa-solid fa-cake-candles"></i> birthday
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="box">
        <i class="fa-solid fa-circle-info"></i> introduction
      </div>
    </div>
  </div>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-6 col-sm-3">
      <!--<div class="flex">-->
        <!--<div class="bg_icon">-->
        　<%= image_tag user.get_profile_image(20,20), class: "rounded-circle" %>
        <!--</div>-->
          <%= link_to user_path(user.id) , class: "link" do %>
            <%= user.name %>
          <% end %>
        <!--</div>-->
    </div>
    <div class="col-6 col-sm-3">
      <div class="box">
        　<%= user.birthdate %>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="box">
        　<%= user.introduction %>
      </div>
    </div>
  </div>
  <% end %>
</div>