<div class="container">
  <div class="row no-gutters">
    <h4>User All</h4>
  </div>
</div>


<div class="container">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"><i class="fa-solid fa-user"></i>.name</th>
        <th scope="col"><i class="fa-solid fa-cake-candles"></i>.birthday</th>
        <th scope="col"><i class="fa-solid fa-circle-info"></i>.introduction</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= image_tag user.get_profile_image(20,20), class: "rounded-circle" %>
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.birthdate %></td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>


