
<div class="container">
  <h4>
    <strong>Mypage／<%= image_tag @user.get_profile_image(30,30) %><%= @user.name %></strong>
  </h4>
  <% if user_signed_in? && @user == current_user %>
    <%= link_to "EDIT", edit_users_path %><br>
  <% end %>
</div>
<div class="container">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"><i class="fa-solid fa-user"></i>.name</th>
        <th scope="col"><i class="fa-solid fa-cake-candles"></i>.birthday</th>
        <th scope="col"><i class="fa-solid fa-circle-info"></i>.introduction</th>
        <th scope="col"><i class="fa-solid fa-envelope"></i>.email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= image_tag @user.get_profile_image(30,30) %>
          <%= @user.name %>
        </td>
        <td><%= @user.birthdate %></td>
        <td><%= @user.introduction %></td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="line"></div>
  <h4><%= link_to "♡", favorites_user_path(current_user) %></h4>
  <div class="line"></div>
  <h4>
    <%= link_to "PHOTO", userphotos_user_path(current_user) %>
    <span><%= @user.photo_images.count %>件</span>
  </h4>




  <div class="line"></div>
  <h4>
    <%= link_to "ALBUM", useralbums_user_path(current_user) %>
    <span><%= @user.albums.count %>件</span>
  </h4>

</div>

<!--<div class="row row no-gutters">-->
<!--  <%#= render 'public/albums/index', albums: @albums %>-->
<!--</div>-->