<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-2">
      <%= image_tag @user.get_profile_image(120,120), class: "rounded-circle" %>
    </div>
    <div class="col-2">
      <h3 class="box">Mypage</h3>
    </div>
    <div class="col-1">
      <div class="edit">
        <% if user_signed_in? && @user == current_user %>
          <%= link_to edit_users_path, class: "link" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box">
        <i class="fa-solid fa-user"></i> name
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <%= @user.name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box">
        <i class="fa-solid fa-cake-candles"></i> birthday
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <%= @user.birthdate %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box">
        <i class="fa-solid fa-circle-info"></i> introduction
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <%= @user.introduction %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box">
        <i class="fa-solid fa-envelope"></i> email
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <%= @user.email %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box"></div>
    </div>
    <div class="col-8">
      <div class="box">
        <i class="fa-solid fa-heart hearton"></i>
        <%= link_to favorites_user_path(@user), class: "link2" do %>
          <span style="color: gray;", onMouseOver="this.style.color='#cc7eb1'", onMouseOut="this.style.color='gray'", class="link"> favorites</span>
        <% end%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box"></div>
    </div>
    <div class="col-8">
      <div class="box">
        <i class="fa-solid fa-image fa-1"></i>
        <%= link_to userphotos_user_path(@user.id), class: "link2" do %>
          <span style="color: gray;", onMouseOver="this.style.color='#cc7eb1'", onMouseOut="this.style.color='gray'", class="link">
             PHOTO
          </span>
        <% end %>
        <span style="color: gray;"><<%= @user.photo_images.count %>photos></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box"></div>
    </div>
    <div class="col-8">
      <div class="box">
        <i class="fa-solid fa-images fa-1"></i>
        <%= link_to  useralbums_user_path(@user.id), class: "link2" do  %>
          <span style="color: gray;", onMouseOver="this.style.color='#cc7eb1'", onMouseOut="this.style.color='gray'", class="link">
             ALBUM
          </span>
        <% end %>
        <span style="color: gray;"><<%= @user.albums.count %>albums></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="box"></div>
    </div>
    <div class="col-8">
      <%= link_to "USER一覧へいく", users_path, class: "btn btn-outline-lightgreen" %>
    </div>
  </div>
</div>