<div class="container">
  <div class="circle">
    <strong>User／<%= @user.name %></strong>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-user"></i>.name
    </div>
    <div class="col-3">
      <i class="fa-solid fa-cake-candles"></i>.birthday
    </div>
    <div class="col-6">
      <i class="fa-solid fa-circle-info"></i>.introduction
    </div>
    <div class="w-100">
    </div>
    <div class="col-3">
      <%= image_tag @user.get_profile_image(20,20), class: "rounded-circle" %>
      <%= @user.name %>
    </div>
    <div class="col-3">
      <%= @user.birthdate %>
    </div>
    <div class="col-6">
      <%= @user.introduction %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= link_to favorites_user_path(@user) do %>
        <i class="fa-solid fa-heart hearton"></i><span style="color: gray;"> favorites</span>
      <% end%>
    </div>
    <div class="col-3">
      <%= link_to userphotos_user_path(@user.id) do %>
        <i class="fa-solid fa-image size"></i><span style="color: gray;"> PHOTO</span>
      <% end %>
          <span style="color: gray;"><<%= @user.photo_images.count %>photos></span>
    </div>
    <div class="col-3">
      <%= link_to  useralbums_user_path(@user.id)  do %>
        <i class="fa-solid fa-images size"></i><span style="color: gray;"> ALBUM</span>
      <% end %>
      <span style="color: gray;"><<%= @user.albums.count %>albums></span>
    </div>
  </div>
</div>
