<h4>MY PAGE</h4>
<%= link_to "EDIT", edit_users_path %><br>

<i class="fa-solid fa-user"></i><%= @user.name %><i class="fa-solid fa-cake-candles"></i><%= @user.birthdate %><br>
<i class="fa-solid fa-circle-info"></i><%= @user.introduction %><i class="fa-solid fa-envelope"></i><%= @user.email %><br>