<div class="container">
  <h1><%= @user.name %>のALBUM<<%= @albums_count %>albums></h1>
</div>

<div class="container">
  <div class="row no-gutters">
    <%= render 'public/albums/index', albums: @user.albums %>
  </div>
</div>

<div class="container">
  <div class="row no-gutters">
    <% if @user == current_user %>
      <%= link_to "自分のpage", user_path(@user.id) %>へ
    <% else %>
      <%= link_to "#{@user.name}のpage", user_path(@user.id) %>へ
    <% end %>
  </div>
</div>