<div class="container">
  <h1><%= @user.name %>のPhoto All<span><%= @photo_images.count %>件</span></h1>
</div>

<div class="container">
  <%= render 'public/photo_images/index', photo_images: @photo_images %>
</div>

<div class="container">
  <% if @user == current_user %>
    <%= link_to "自分のpage", user_path(@user.id) %>
   <% else %>
    <%= link_to "#{@user.name}のpage", user_path(@user.id) %>へ
  <% end %>
</div>