<div class="container">
  <% if @user == current_user %>
    <h3>MY ALBUM<span class="count-font">　<<%= @albums_count %>albums></span></h3>
  <% else %>
    <h3><%= @user.name %>'s ALBUM<span class="count-font">　<<%= @albums_count %>albums></span></h3>
  <% end %>
</div>

<div class="container">

</div>



<div class="container">
  <div class="row">
    <%= render 'public/albums/index', albums: @user.albums %>
  </div>
</div>

<div class="container">
  <% if @user == current_user %>
    <%= link_to "My pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
  <% else %>
    <%= link_to "#{@user.name}'s pageへ戻る", user_path(@user.id), class: "btn btn-outline-lightgreen" %>
  <% end %>
</div>