<!DOCTYPE html>
<html>
  <head>
    <title>Recollections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7e258a15bb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <span>
            <a class="navbar-brand" href="/">recollections</a>
            <%= link_to new_photo_image_path do %>
              <i class="fa-solid fa-image"></i>
            <% end %>
            <%= link_to new_album_path do %>
              <i class="fa-solid fa-images"></i>
            <% end %>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">

              <% if current_user %>
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
                <% end %>
                <li>
                  <%= link_to "NOTICE", notifications_path, class: "btn-default" %>/
                </li>
                <%= link_to "Mypage", mypage_users_path, class: "btn-default" %> /
                <%= link_to "ALL", photo_images_path, class: "btn-default" %> /
                <%= link_to "ALBUM", albums_path, class: "btn-default" %> /
                <%= link_to "User", users_path, class: "btn-default" %> /
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn-default" %>



              <% elsif current_admin %>
                <!--< %= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary" %>-->
                <!--< %= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary" %>-->
                <!--< %= link_to "注文履歴一覧", admin_root_path, class: "btn btn-outline-secondary" %>-->
                <%= link_to "logout", destroy_admin_session_path, method: :delete %>

              <% else %>
                <!--< %= link_to "About", about_path, class: "btn btn-outline-secondary" %>-->
                <!--< %= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %>-->
                <!--< %= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>-->
                <%= link_to "ログイン", user_session_path, class: "btn btn-outline-secondary" %>
              <% end %>


            </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="line"></div>
    <%= yield %>
  </body>
</html>
